/* --------------------------------------------------------*/
/* PERSONAL FONT-AWESOME (FA) ICONS LINK */
/* --------------------------------------------------------*/

/*<link rel="stylesheet" href="https://use.fontawesome.com/e903b67e6e.css">*/
@import url('https://use.fontawesome.com/e903b67e6e.css');

/* --------------------------------------------------------*/
/* NAVBAR CSS IMPORT (TO SAVE SPACE IN THIS CSS FILE) */
/* --------------------------------------------------------*/

@import url("riley-navbar.css");

/* --------------------------------------------------------*/
/* VARIABLES/CONSTANTS */
/* --------------------------------------------------------*/

:root {
    --didot-fs : Didot,
                 'Didot LT STD',
                 'Hoefler Text',
                 Garamond,
                 'Times New Roman',
                 serif;
    --etbook-fs : et-book,
                  Palatino,
                  "Palatino Linotype",
                  "Palatino LT STD",
                  "Book Antiqua",
                  Georgia,
                  serif;
    --consolas-fs : Consolas,
                  "Liberation Mono",
                  Menlo,
                  Courier,
                  monospace;
    --monaco-fs : monaco,
                  Consolas,
                  'Lucida Console',
                  monospace;
    --firamono-fs : fira-mono,
                    monospace;
    --link-color: rgb(0, 0, 140);
    --darkslate: #2d343a;
    --darkslate-a: rgba(34, 39, 44, 0.75);
    --caption-color: rgba(0, 0, 50, 0.8);
    --myblack: rgb(38, 38, 38); /* #262626 */
    /*--darkslate-a: rgba(51, 51, 51, 0.85);*/
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Styles Primarily imported from [tufte-css](https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css) */
/* -------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------*/
/* Styles auto-imported by rmarkdown */
/* --------------------------------------------------------*/

.main-container {
    max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
code {
  color: inherit;
  /*background-color: rgba(38, 38, 38, 0.04);*/
}

/* ADDED FROM tufte-rs.css */

pre {
    display: block;
    width: auto;
    max-width: 76%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    margin-bottom: 2rem;
}
pre, pre > code {
    padding-left: 1.25%;
    padding: 1em;
    color: #eee;
    background: rgba(34, 34, 34, 0.95);
}

pre code {
    padding-left: 0;
}
pre, pre code, p code, p pre code {
    font-family: Menlo, "Liberation Mono", Consolas, Courier, monospace;
    font-size: 0.85rem;
    line-height: 1.71;
    margin-top: 1rem;
}

body {
  padding-top: 51px;
  padding-bottom: 40px;
}
.section h1 {
  padding-top: 56px;
  margin-top: -56px;
}

.section h2 {
  padding-top: 56px;
  margin-top: -56px;
}
.section h3 {
  padding-top: 56px;
  margin-top: -56px;
}
.section h4 {
  padding-top: 56px;
  margin-top: -56px;
}
/*.section h5 {*/
  /*padding-top: 56px;*/
  /*margin-top: -56px;*/
/*}*/
/*.section h6 {*/
  /*padding-top: 56px;*/
  /*margin-top: -56px;*/
/*}*/

/* -------------------------------------------------------------------- */

/* Body */

/* -------------------------------------------------------------------- */

html {
  font-size : 1rem;
}

body {
  width            : 87.5%;
  max-width        : 100%;
  color            : #111;
  background-color : #ffffff;
  font-family      : Palatino,
                     "Palatino Linotype",
                     "Palatino LT STD",
                     "Book Antiqua",
                     Georgia,
                     serif;
  counter-reset    : sidenote-counter;
   margin-left: auto;
   margin-right: auto;
   /*width            : 90%;*/
   /*padding-left     : 2.5%;*/
   /*padding-left: 12.5%;*/
   /* background-color: #fffff8; */
   /*max-width: 1400px;*/
}

/* -------------------------------------------------------------------- */

/* Headings */

/* -------------------------------------------------------------------- */

h1.title {
    margin-top   : 2rem;
    font-size     : 2.5rem;
    font-style: normal;
    font-weight   : 500;
    line-height   : 1;
    text-align: center;
    letter-spacing: .2em;
    font-variant: small-caps;
}

h1:not(.title) {
    margin-bottom : 1.5rem;
    margin-top   : 2rem;
  font-size     : 1.75rem;
  font-style    : italic;
  font-weight   : 400;
  line-height   : 1;
    text-align: center;
    letter-spacing: .2em;
    font-variant: small-caps;
  /*margin-top    : 2rem;*/
  padding-top: 2em;
  /*font-size     : 3.2rem;*/
  /*font-weight   : 400;*/
}

h2 {
    margin-top    : 3rem;
  /*padding-top: 10em;*/
  /*margin-bottom : 0;*/
  margin-bottom : 1rem;
  font-size     : 1.5rem;
  font-style    : italic;
  font-weight   : 400;
  line-height   : 1;
}

h3 {
  /*margin-top    : 2rem;*/
  /*margin-top   : 3rem;*/
  /*padding-top: 7rem !important;*/
  padding-bottom: 3rem;
  font-size     : 1.7rem;
  font-weight   : 400;
  line-height   : 1;
  font-variant: small-caps;
    letter-spacing: .15em;
}


/*h4.author, h4.date {
    display: inline-block;
    font-size: 0.9rem !important;
    margin-top: -5em;
    padding-bottom: 4.5rem;
    float: right;
    clear: both;
    color: rgba(0, 0, 120, 0.75);
}*/

/* -------------------------------------------------------------------- */
/* Horizontal Rules */
/* -------------------------------------------------------------------- */

hr.Bold {
  width         : 100%;
  clear: left;
  margin-top    : 1em;
  margin-bottom : 1em;
  margin-left: 0;
  margin-right: auto;
  border        : 0;
  height: 2px;
  background-image: linear-gradient(to right, #e6e6e6, #333, #e6e6e6);
  /*width         : 87.5%;*/
  /*border-top    : 2px solid #3f3f3f;*/
}

hr.SemiBold {
  clear: left;
  margin-left: 0;
  margin-right: auto;
  width         : 87.5%;
  margin-top    : 21px;
  margin-bottom : 21px;
  border        : 0;
  height: 1px;
  background-image: linear-gradient(to right, #c0c0c0, #333, #c0c0c0);
  /*border-top    : 1px solid #3f3f3f;*/
  /*border-bottom-color : rgba(255, 255, 255, 0.5);*/
  /*border-bottom-width : 0.25px;*/
}

/*hr {*/
  /*display    : block;*/
  /*width      : 55%;*/
  /*width      : 87.5%;*/
  /*height     : 1px;*/
  /*margin     : 1em 0;*/
  /*padding    : 0;*/
  /*border     : 0;*/
  /*border-top : 1px solid #ccc;*/
/*}*/

hr {
    /*width : 95%;*/
    width         : 87.5%;
    border: 0;
    height: 0.75px;
    background: #333;
    background-image: linear-gradient(to right, #e6e6e6, #595959, #e6e6e6);
}

/* -------------------------------------------------------------------- */

/* Main Body Block Elements */

/* -------------------------------------------------------------------- */


h3.subtitle {
  margin-top    : 0;
  padding: 0;
  margin-bottom : 0;
  font-size     : 1.25rem;
  /*font-style: normal;*/
  text-align: center;
  line-height   : 1;
  /*z-index: -1;*/
}

h3.subtitle:after {
    width         : 87.5%;
    border        : 0;
    height: 2px;
    /*border-top    : 2px solid #3f3f3f;*/
    background-image: linear-gradient(to right, #e6e6e6, #333, #e6e6e6);
}
article {
  position : relative;
  padding  : 5rem 0rem;
}

section {
  padding-top    : 1rem;
  padding-bottom : 1rem;
}

/* -------------------------------------------------------------------- */
/* Lists */
/* -------------------------------------------------------------------- */

/* p, ol, ul { font-size: 1.4rem; } */

p {
    font-size: inherit;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 65% !important;
    line-height: 1.3;
}

li strong {
    font-variant: small-caps;
    font-weight: 800;
    font-size: 1.15rem;
}

ol:not(.navbar-nav,.dropdown-menu),
ul:not(.navbar-nav,.dropdown-menu),
section>ol,
section>ul {
  font-size: inherit;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  width: 55%;
  line-height: 1.3;
  /*font-size : 1.2em;*/
}

ul .marginnote,
ul .sidenote,
ol .marginnote,
ol .sidenote {
  margin-right   : -45%;
}
ol>li>ul .marginnote,
ol>li>ul .sidenote,
ul>li>ol .marginnote,
ul>li>ol .sidenote,
ol>li>ol .marginnote,
ol>li>ol .sidenote,
ul>li>ul .marginnote,
ul>li>ul .sidenote {
    margin-right: -50%;
}

ol>li>ul:not(.navbar-nav,.dropdown-menu),
ul>li>ol:not(.navbar-nav,.dropdown-menu),
ol>li>ol:not(.navbar-nav,.dropdown-menu),
ul>li>ul:not(.navbar-nav,.dropdown-menu) {
    width: 80%;
}

ol:not(.navbar-nav,.dropdown-menu) > li,
ul:not(.navbar-nav,.dropdown-menu) > li {
    margin-top: 0.25rem;
    margin-bottom: 0.15rem;
}

ul:not(.navbar-nav,.dropdown-menu)>li:first-child,
ol:not(.navbar-nav,.dropdown-menu)>li:first-child {
    margin-top: 1rem;
}

/*ul:not()*/
ul:not(.navbar-nav,.dropdown-menu)>li:last-child,
ol:not(.navbar-nav,.dropdown-menu)>li:last-child {
    margin-bottom: 2rem;
}

ul:not(.navbar-nav,.dropdown-menu)>li>ul>li:first-child,
ol:not(.navbar-nav,.dropdown-menu)>li>ul>li:first-child,
ul:not(.navbar-nav,.dropdown-menu)>li>ol>li:first-child,
ol:not(.navbar-nav,.dropdown-menu)>li>ol>li:first-child {
    margin-top: 0;
    padding-top: 0;
}

ul:not(.navbar-nav,.dropdown-menu)>li>ul>li:last-child,
ol:not(.navbar-nav,.dropdown-menu)>li>ul>li:last-child,
ul:not(.navbar-nav,.dropdown-menu)>li>ol>li:last-child,
ol:not(.navbar-nav,.dropdown-menu)>li>ol>li:last-child {
    margin-bottom: 0.15rem;
}

.last-child {
    margin-bottom: 1em;
}
/* --------------------------------------------------------*/
/* TABLES */
/* --------------------------------------------------------*/

table {
    display: inline-table;
    margin-top: 1em;
    border-collapse: collapse;
  border-spacing: 50px 0;
    margin: auto;
    /*white-space: nowrap;*/
    margin-bottom: 1em;
    border-top: 1px solid var(--myblack);
    border-bottom: 1px solid var(--myblack);
    table-layout: auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,.25);
}

table:focus,
table:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

th {
    padding-top: 0.15rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5em;
    padding-right: 0.75em;
    font-size: 105%;
    line-height: 1.5;
    vertical-align: middle !important;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: .1em;
    border-bottom: 2px solid var(--myblack);
    background-color: rgba(38, 38, 38, 0.05);
    white-space: nowrap;
}

td {
    font-size: 100%;
    /*line-height: 1.25;*/
    vertical-align: middle !important;
    font-weight: normal;
    padding: 5px;
    padding-left: 0.5em;
    padding-right: 0.75em;
}

tbody>tr:hover {
    background-color: rgba(38, 38, 38, 0.15);
}

/*tbody>tr>td:active,*/
/*tbody>tr>td:hover {*/
/*tbody>tr>td:focus {*/
    /*border: 2px solid var(--link-color);*/
/*}*/
table caption {
    color: var(--caption-color);
    font-size: 120%;
    font-variant: small-caps;
    letter-spacing: .2em;
    margin-top: 2em;
    margin-bottom: 0.75em;
    text-align: center;
    /*counter-increment : table-counter;*/
}

table + p {
    display: inline-block;
    margin: auto;
    margin-top: -1em;
    font-style: italic;
    font-size: 95%;
    max-width: 50%;
    color: var(--caption-color);
}
 {
    display: inline-block;
    margin: auto;
    margin-top: -1em;
    font-style: italic;
    font-size: 95%;
    max-width: 50%;
    color: var(--caption-color);
}
/*table caption:before {*/
    /*content: "Table " counter(table-counter) ": ";*/
/*}*/

div>img+p.caption {
    color: var(--caption-color);
    font-variant: small-caps;
    letter-spacing: .2em;
    margin-top: -1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* -------------------------------------------------------------------- */
/* Epigraphs */
/* -------------------------------------------------------------------- */

div.epigraph {
  margin : 5em 0;
}

div.epigraph > blockquote {
  margin-top    : 0.5em;
  margin-bottom : 0.5em;
}

blockquote > p,
div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style : italic;
  font-size: 85%;
}

div.epigraph > blockquote > footer {
  font-style : italic;
}

div.epigraph > blockquote > footer > cite {
  font-style : italic;
}

/* -------------------------------------------------------------------- */
/* Block Quotes */
/* -------------------------------------------------------------------- */

blockquote {
  font-size : 0.95rem;
  width        : 90%;
  margin-bottom: 1em;
}

blockquote p {
  margin-right : 40px;
  margin-bottom: 0;
}

blockquote footer {
  /*width      : 55%;*/
  display: inline-block;
  clear: both;
  width: 65%;
  margin-top: -2em;
  margin-bottom: 1em;
  text-align : right;
  font-size  : 0.8rem;
  font-style: italic;
}

/* -------------------------------------------------------------------- */
/* Figures */
/* -------------------------------------------------------------------- */

figure {
  clear: both;
  padding        : 0;
  border         : 0;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  vertical-align : baseline;
  /*max-width      : 55%;*/
}

figcaption {
    color: var(--caption-color);
  position       : relative;
  max-width      : 40%;
  float          : right;
  clear          : right;
  margin-top     : 0;
  margin-bottom  : 0;
  vertical-align : baseline;
  font-size      : 1.1rem;
  line-height    : 1.6;
}

.fullwidth figcaption {
  margin-right : 24%;
}

figure.title {
    align: middle !important;
    border: 0 !important;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    vertical-align : baseline;
}

img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width : 100%;
}

img.rt {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0.5em;
    max-width : 300px;
    vertical-align     : middle;
    float: right;
    clear: right;
    width: 20%;
    border:1px solid rgba(192,192,192,0.65);
    /*text-align: center;*/
    /*max-width : 100%;*/
    /*max-height: 250px;*/
}

img.lt {
    display: inline-block;
    margin-left: auto;
    margin-right: 0.5em;
    margin-bottom: auto;
    padding: 0.5em;
    max-width : 300px;
    vertical-align     : middle;
    float: left;
    clear: left;
    width: 20%;
    border:1px solid rgba(192,192,192,0.65);
    /*margin-right: auto;*/
    /*max-width : 100%;*/
    /*max-height: 200px;*/
    /*text-align: center;*/
    /*clear: right;*/
    /*padding:1px;*/
}

/*figure {     */
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
/*}*/

/* -------------------------------------------------------------------- */
/* Sidenotes, margin notes */
/* -------------------------------------------------------------------- */

.marginnote,
.sidenote {
  display: inline-block;
  position       : relative;
  width          : 25%;
  left           : 10%;
  float          : right;
  clear          : both;
  margin-top     : 0;
  margin-right   : -30%;
  margin-bottom  : 0;
  margin-left: 0;
  padding-left: 0;
  vertical-align : baseline;
  font-size      : 0.9rem;
  line-height    : 1;
  vertical-align: baseline;
  color: rgba(34, 39, 44, 0.85);
  /*color: var(--darkslate-a) !important;*/
  /*margin-top     : 1em;*/
}

.sidenote-number {
  counter-increment : sidenote-counter;
  color: var(--darkslate-a);
}

.sidenote-number:after,
.sidenote:before {
  content        : counter(sidenote-counter) " ";
  position       : relative;
  vertical-align : baseline;
  font-size : 0.75rem;
  color: var(--darkslate-a);
  /*content        : counter(sidenote-counter);*/
  /*vertical-align : super;*/
  /*font-family    : et-book-roman-old-style;*/
}

.sidenote-number:after {
  content   : counter(sidenote-counter);
  top       : -0.5rem;
  left      : 0.1rem;
  font-size : 1rem;
}

.sidenote:before {
  content : counter(sidenote-counter) " ";
  top     : -0.5rem;
  /*content : counter(sidenote-counter);*/
}

/* -------------------------------------------------------------------- */
/* Margins and alignment (multiple elements) */
/* -------------------------------------------------------------------- */

blockquote .marginnote,
blockquote .sidenote {
  min-width    : 59%;
  margin-right : -82%;
  text-align   : left;
}

/* p, footer, table { width: 55%; } */

footer,
p {
  width : 85%;
}

div.fullwidth,
table.fullwidth {
  width : 100%;
}

/* -------------------------------------------------------------------- */
/* Fonts */
/* -------------------------------------------------------------------- */

div.table-wrapper {
  overflow-x  : auto;
  font-family : "Trebuchet MS",
                "Gill Sans",
                "Gill Sans MT",
                sans-serif;
}

/*.sans {*/
  /*font-family    : "Gill Sans",*/
                   /*"Gill Sans MT",*/
                   /*Calibri,*/
                   /*sans-serif;*/
  /*letter-spacing : .03em;*/
/*}*/

code {
  font-family : Consolas,
                "Liberation Mono",
                Menlo,
                Courier,
                monospace !important;
  /*font-size   : 1.0rem;*/
  font-size   : 90%;
  background-color: transparent !important;
  /*line-height : 1.42;*/
}

.sans > code {
  /*font-size : 1.2rem;*/
  /*font-size   : inherit;*/
}

h1 > code,
h2 > code,
h3 > code {
  /*font-size : 0.80em;*/
  /*font-size   : inherit;*/
}

.marginnote > code,
.sidenote > code {
  font-size : 1rem;
  font-size   : inherit;
}

pre.code {
  width       : 52.5%;
  margin-left : 2.5%;
  overflow-x  : auto;
  /*font-size   : 0.9rem;*/
  /*font-size   : inherit;*/
}

pre.code.fullwidth {
  width : 90%;
}

.fullwidth {
   /*max-width: 90%; */
  clear : both;
}

.fullfootc { /*fullwidth footer, center align*/
    clear:both;
    display: block;
    width: 95%;
    text-align:center !important;
    font-size:80%;
}

.fullfootr { /*fullwidth footer, right-align */
    clear:both;
    width: 95%;
    text-align:right;
    font-size:80%;
    margin-top   : 10px;
}


/* span.newthought { font-variant: small-caps; font-size: 1.2em; } */

.newthought {
  padding-top   : 2em;
  font-family  : inherit;
  /*font-size    : 1.2em;*/
  font-size    : 130%;
  /*font-size: inherit;*/
  font-variant : small-caps;
}

input.margin-toggle {
  display : none;
}

label.sidenote-number,
.margin-toggle::after,
.sidenote-number::after  {
  display : inline;
  font-size: 0.75rem;

}

label.margin-toggle:not(.sidenote-number) {
  display : none;
}

@media (max-width: 760px) {
  body {
    width         : 84%;
    padding-right : 8%;
    padding-left  : 8%;
  }

  footer,
  p {
    width : 100%;
  }

  pre.code {
    width : 97%;
  }
  /* ul { width: 85%; } */

  ul {
    width : 55%;
  }

  .figure {
    max-width : 90%;
    /*float: right;*/
    align: middle;
    text-align: center;
    border: thin silver solid;
  }

  figcaption,
  figure.fullwidth figcaption {
    max-width    : none;
    margin-right : 0%;
  }

  blockquote {
    margin-right : 0em;
    margin-left  : 1.5em;
  }

  blockquote footer,
  blockquote p {
    width : 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display : inline;
  }

  .marginnote,
  .sidenote {
    display : none;
  }

  .margin-toggle:checked + .marginnote,
  .margin-toggle:checked + .sidenote {
    display        : block;
    position       : relative;
    left           : 1rem;
    width          : 95%;
    float          : left;
    clear          : both;
    margin         : 1rem 2.5%;
    vertical-align : baseline;
  }

  label {
    cursor : pointer;
  }

  div.table-wrapper,
  table {
    width : 85%;
  }

  img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width : 100%;
    /*align     : middle;*/
    text-align: center;
  }
}

/* --------------------------------------------------------*/
/* LINKS */
/* --------------------------------------------------------*/
a {
  color           : var(--link-color);
}

a:focusnot(.lightbox),
a:hover:not(.lightbox) {
  text-decoration : none;
  border-top: 0;
  border-bottom-width :0.015em;
  border-bottom-style:  solid;
  border-bottom-color: var(--link-color);
}

/* -------------------------- */
/* Footnotes */
/* -------------------------- */

.footnotes {
  /*font-size : "xx-small";*/
  font-size: 10px;
}

.footnotes ol li p {
    padding: 0.05em !important;
    margin: 0;
}

/* --------------------------------------------------------*/
/* LaTeX & BibTeX Logo Elements */
/* --------------------------------------------------------*/


txsub, txe, txeib {
  vertical-align: -0.5ex;
  margin-left: -0.05em;
  margin-right: -0.05em;
}


txa::before {
	content: "A";
    vertical-align: 0.35ex;
    margin-left: -0.25em;
    font-size: 80%;
}

txe:before {
	content: "E";
}

txeib:before {
	content: "IB";
}

/* --------------------------------------------------------*/
/* META: Author & Date */
/* --------------------------------------------------------*/

h4.author, h4.date {
    font-size: 120% !important;
    padding-bottom: 3rem;
    float: right;
    clear: left;
}

div.contactIcons {
    clear:both;
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
    width: 95%;
    text-align:center !important;
    font-size:80%;
    background-color: transparent;
}
a.iconOnly:hover {
  text-decoration : none;
    border-bottom: 1px solid var(--link-color);
    padding: 0;
}

a.iconOnly {
    padding-top: 0;
    font-size: 200%;
    display: inline-block;
    background-color: transparent;
}

div.refs {
    padding-left: 2em;
    text-indent: -2em;
}

sup,sub {
    font-size: 70%;
    font-variant: normal;
}


img {
    display: block;
    max-width: 60%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    align: middle;
    margin-bottom: 2em;
}

img:focus,
img:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,.85);
    max-width: 70%;
    -webkit-transition: max-width .5s ease-in-out;
    -moz-transition: max-width .5s ease-in-out;
    -o-transition: max-width .5s ease-in-out;
    transition: max-width .5s ease-in-out;
    align: middle;
}
